n8n-workflows/ai-dev-orchestrator-n8n.json
{"updatedAt":"2026-03-15T07:03:25.825Z","createdAt":"2026-03-14T15:07:25.921Z","id":"5LKI0iVGYCy8AB2f","name":"ai-dev-orchestrator-n8n","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agent/run","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,-176],"id":"37b8b339-9b39-4f9e-8a14-740e0c5a163b","name":"Webhook","webhookId":"ecbca40b-f72a-4ee1-8bed-cafe7d0875be"},{"parameters":{"method":"POST","url":"http://backend:8000/agent/run","sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.body.prompt }}"},{"name":"model","value":"={{ $json.body.model }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-128,-176],"id":"45200786-dcab-41db-a68c-fca0e0d3888d","name":"HTTP Request"},{"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[80,-176],"id":"b7b9f65f-b9a1-43e1-8f5b-89ee2f24f30b","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"aaee014b-1fd6-4deb-bc9e-6708193aabeb","activeVersionId":"aaee014b-1fd6-4deb-bc9e-6708193aabeb","versionCounter":170,"triggerCount":1,"shared":[{"updatedAt":"2026-03-14T15:07:25.924Z","createdAt":"2026-03-14T15:07:25.924Z","role":"workflow:owner","workflowId":"5LKI0iVGYCy8AB2f","projectId":"oAVRaXmRj7K7UnvJ","project":{"updatedAt":"2026-03-14T11:18:25.350Z","createdAt":"2026-03-14T11:17:49.818Z","id":"oAVRaXmRj7K7UnvJ","name":"Christoph Guntlin <chguntlin@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-14T21:28:44.000Z","createdAt":"2026-03-14T21:28:32.562Z","versionId":"aaee014b-1fd6-4deb-bc9e-6708193aabeb","workflowId":"5LKI0iVGYCy8AB2f","nodes":[{"parameters":{"httpMethod":"POST","path":"agent/run","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,-176],"id":"37b8b339-9b39-4f9e-8a14-740e0c5a163b","name":"Webhook","webhookId":"ecbca40b-f72a-4ee1-8bed-cafe7d0875be"},{"parameters":{"method":"POST","url":"http://backend:8000/agent/run","sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.body.prompt }}"},{"name":"model","value":"={{ $json.body.model }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-128,-176],"id":"45200786-dcab-41db-a68c-fca0e0d3888d","name":"HTTP Request"},{"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[80,-176],"id":"b7b9f65f-b9a1-43e1-8f5b-89ee2f24f30b","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Christoph Guntlin","name":"Version aaee014b","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-14T21:28:44.044Z","id":15,"workflowId":"5LKI0iVGYCy8AB2f","versionId":"aaee014b-1fd6-4deb-bc9e-6708193aabeb","event":"activated","userId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}]}}