n8n-workflows/buddy-news.json
{
  "name": "Buddy — Nachrichten",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "name": "Stündlich",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://www.srf.ch/news/bnf/rss/1646",
        "options": {}
      },
      "name": "SRF News RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "url": "https://www.tagesanzeiger.ch/rss.html",
        "options": {}
      },
      "name": "Tagesanzeiger RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [460, 380]
    },
    {
      "parameters": {
        "jsCode": "const items = [];\nconst cutoff = Date.now() - 2 * 60 * 60 * 1000; // Letzte 2 Stunden\n\nfor (const item of $input.all()) {\n  const article = item.json;\n  const pubDate = article.pubDate || article.isoDate;\n  if (!pubDate) continue;\n\n  const pubMs = new Date(pubDate).getTime();\n  if (pubMs < cutoff) continue; // Zu alt\n\n  const url = article.link || article.guid || '';\n  const title = article.title || '(kein Titel)';\n  const source = article.feed?.title || 'Nachrichten';\n\n  items.push({\n    json: {\n      source: 'news',\n      source_id: url || `news-${pubMs}`,\n      summary: `${source}: ${title}`,\n      priority: 'low',\n      customer_id: $env.CUSTOMER_ID || null,\n      buddy_id: $env.BUDDY_ID || null,\n      timestamp: pubDate,\n      details: {\n        headline: title,\n        url: url,\n        source_name: source,\n        published_at: pubDate,\n        categories: article.categories || []\n      }\n    }\n  });\n}\n\n// Max 5 Artikel pro Durchlauf\nreturn items.slice(0, 5);"
      },
      "name": "Artikel aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/v1/agent/event",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Secret",
              "value": "={{ $env.BACKEND_WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json) }}"
      },
      "name": "An Backend senden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Stündlich": {
      "main": [
        [
          { "node": "SRF News RSS", "type": "main", "index": 0 },
          { "node": "Tagesanzeiger RSS", "type": "main", "index": 0 }
        ]
      ]
    },
    "SRF News RSS": {
      "main": [[{ "node": "Artikel aufbereiten", "type": "main", "index": 0 }]]
    },
    "Tagesanzeiger RSS": {
      "main": [[{ "node": "Artikel aufbereiten", "type": "main", "index": 0 }]]
    },
    "Artikel aufbereiten": {
      "main": [[{ "node": "An Backend senden", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "buddy-senses" }]
}
