n8n-workflows/buddy-weather.json
{"updatedAt":"2026-03-15T15:19:07.737Z","createdAt":"2026-03-15T15:19:07.737Z","id":"DJ5SeYDPfCrRBVZB","name":"Buddy — Wetter","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7,16 * * *"}]}},"name":"2x täglich (7h + 16h)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300],"id":"530b932f-51f2-4276-9d1d-9cf77908b2fe"},{"parameters":{"method":"GET","url":"=https://api.openweathermap.org/data/2.5/weather?q={{ $env.WEATHER_CITY || 'Bern' }}&appid={{ $env.OPENWEATHER_API_KEY }}&units=metric&lang=de","options":{}},"name":"OpenWeatherMap","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[460,300],"id":"5f18b5cb-3b93-4897-a984-c01fce25d510"},{"parameters":{"jsCode":"const w = $input.first().json;\nconst city = w.name || $env.WEATHER_CITY || 'Stadt';\nconst temp = Math.round(w.main?.temp || 0);\nconst feelsLike = Math.round(w.main?.feels_like || 0);\nconst desc = w.weather?.[0]?.description || 'unbekannt';\nconst windKmh = Math.round((w.wind?.speed || 0) * 3.6);\nconst humidity = w.main?.humidity || 0;\nconst rain = w.rain?.['1h'] || 0;\nconst snow = w.snow?.['1h'] || 0;\nconst weatherId = w.weather?.[0]?.id || 800;\n\n// Warnung bestimmen\nlet warning = null;\nlet priority = 'low';\n\nif (weatherId >= 200 && weatherId < 300) { warning = 'Gewitter'; priority = 'high'; }\nelse if (weatherId >= 600 && weatherId < 700) { warning = 'Schneefall'; priority = 'medium'; }\nelse if (rain > 5) { warning = 'Starkregen'; priority = 'medium'; }\nelse if (windKmh > 60) { warning = 'Sturmwind'; priority = 'high'; }\nelse if (temp < -5) { warning = 'Starker Frost'; priority = 'high'; }\nelse if (temp < 0) { warning = 'Frost'; priority = 'medium'; }\nelse if (temp > 35) { warning = 'Extreme Hitze'; priority = 'high'; }\n\nconst summaryParts = [`Wetter in ${city}: ${desc}, ${temp}°C`];\nif (warning) summaryParts.push(`⚠️ ${warning}`);\nif (rain > 0) summaryParts.push(`Regen ${rain}mm/h`);\n\nreturn [{\n  json: {\n    source: 'weather',\n    source_id: `weather-${city}-${new Date().toISOString().slice(0,13)}`,\n    summary: summaryParts.join(' — '),\n    priority: priority,\n    customer_id: $env.CUSTOMER_ID || null,\n    buddy_id: $env.BUDDY_ID || null,\n    timestamp: new Date().toISOString(),\n    details: {\n      city: city,\n      temperature_c: temp,\n      feels_like_c: feelsLike,\n      condition: desc,\n      warning_level: priority === 'high' ? 'red' : priority === 'medium' ? 'yellow' : 'green',\n      warning: warning,\n      wind_kmh: windKmh,\n      humidity_pct: humidity,\n      rain_mm_h: rain,\n      snow_mm_h: snow\n    }\n  }\n}];"},"name":"Wetter aufbereiten","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"id":"74869234-a90e-4fdd-8c03-de3bd9041ea8"},{"parameters":{"method":"POST","url":"http://backend:8000/v1/agent/event","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-Secret","value":"={{ $env.BACKEND_WEBHOOK_SECRET }}"}]},"sendBody":true,"contentType":"json","body":"={{ JSON.stringify($json) }}"},"name":"An Backend senden","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[900,300],"id":"f3304477-7ee3-475a-bac0-46bd4d33cb78"}],"connections":{"2x täglich (7h + 16h)":{"main":[[{"node":"OpenWeatherMap","type":"main","index":0}]]},"OpenWeatherMap":{"main":[[{"node":"Wetter aufbereiten","type":"main","index":0}]]},"Wetter aufbereiten":{"main":[[{"node":"An Backend senden","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:2x täglich (7h + 16h)":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"952c480e-5bc9-4358-9087-fa93edbd742b","activeVersionId":"952c480e-5bc9-4358-9087-fa93edbd742b","versionCounter":20,"triggerCount":1,"shared":[{"updatedAt":"2026-03-15T15:19:07.742Z","createdAt":"2026-03-15T15:19:07.742Z","role":"workflow:owner","workflowId":"DJ5SeYDPfCrRBVZB","projectId":"oAVRaXmRj7K7UnvJ","project":{"updatedAt":"2026-03-14T11:18:25.350Z","createdAt":"2026-03-14T11:17:49.818Z","id":"oAVRaXmRj7K7UnvJ","name":"Christoph Guntlin <chguntlin@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T15:19:07.747Z","createdAt":"2026-03-15T15:19:07.747Z","versionId":"952c480e-5bc9-4358-9087-fa93edbd742b","workflowId":"DJ5SeYDPfCrRBVZB","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7,16 * * *"}]}},"name":"2x täglich (7h + 16h)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300],"id":"530b932f-51f2-4276-9d1d-9cf77908b2fe"},{"parameters":{"method":"GET","url":"=https://api.openweathermap.org/data/2.5/weather?q={{ $env.WEATHER_CITY || 'Bern' }}&appid={{ $env.OPENWEATHER_API_KEY }}&units=metric&lang=de","options":{}},"name":"OpenWeatherMap","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[460,300],"id":"5f18b5cb-3b93-4897-a984-c01fce25d510"},{"parameters":{"jsCode":"const w = $input.first().json;\nconst city = w.name || $env.WEATHER_CITY || 'Stadt';\nconst temp = Math.round(w.main?.temp || 0);\nconst feelsLike = Math.round(w.main?.feels_like || 0);\nconst desc = w.weather?.[0]?.description || 'unbekannt';\nconst windKmh = Math.round((w.wind?.speed || 0) * 3.6);\nconst humidity = w.main?.humidity || 0;\nconst rain = w.rain?.['1h'] || 0;\nconst snow = w.snow?.['1h'] || 0;\nconst weatherId = w.weather?.[0]?.id || 800;\n\n// Warnung bestimmen\nlet warning = null;\nlet priority = 'low';\n\nif (weatherId >= 200 && weatherId < 300) { warning = 'Gewitter'; priority = 'high'; }\nelse if (weatherId >= 600 && weatherId < 700) { warning = 'Schneefall'; priority = 'medium'; }\nelse if (rain > 5) { warning = 'Starkregen'; priority = 'medium'; }\nelse if (windKmh > 60) { warning = 'Sturmwind'; priority = 'high'; }\nelse if (temp < -5) { warning = 'Starker Frost'; priority = 'high'; }\nelse if (temp < 0) { warning = 'Frost'; priority = 'medium'; }\nelse if (temp > 35) { warning = 'Extreme Hitze'; priority = 'high'; }\n\nconst summaryParts = [`Wetter in ${city}: ${desc}, ${temp}°C`];\nif (warning) summaryParts.push(`⚠️ ${warning}`);\nif (rain > 0) summaryParts.push(`Regen ${rain}mm/h`);\n\nreturn [{\n  json: {\n    source: 'weather',\n    source_id: `weather-${city}-${new Date().toISOString().slice(0,13)}`,\n    summary: summaryParts.join(' — '),\n    priority: priority,\n    customer_id: $env.CUSTOMER_ID || null,\n    buddy_id: $env.BUDDY_ID || null,\n    timestamp: new Date().toISOString(),\n    details: {\n      city: city,\n      temperature_c: temp,\n      feels_like_c: feelsLike,\n      condition: desc,\n      warning_level: priority === 'high' ? 'red' : priority === 'medium' ? 'yellow' : 'green',\n      warning: warning,\n      wind_kmh: windKmh,\n      humidity_pct: humidity,\n      rain_mm_h: rain,\n      snow_mm_h: snow\n    }\n  }\n}];"},"name":"Wetter aufbereiten","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"id":"74869234-a90e-4fdd-8c03-de3bd9041ea8"},{"parameters":{"method":"POST","url":"http://backend:8000/v1/agent/event","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-Secret","value":"={{ $env.BACKEND_WEBHOOK_SECRET }}"}]},"sendBody":true,"contentType":"json","body":"={{ JSON.stringify($json) }}"},"name":"An Backend senden","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[900,300],"id":"f3304477-7ee3-475a-bac0-46bd4d33cb78"}],"connections":{"2x täglich (7h + 16h)":{"main":[[{"node":"OpenWeatherMap","type":"main","index":0}]]},"OpenWeatherMap":{"main":[[{"node":"Wetter aufbereiten","type":"main","index":0}]]},"Wetter aufbereiten":{"main":[[{"node":"An Backend senden","type":"main","index":0}]]}},"authors":"Christoph Guntlin","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-28T10:03:20.409Z","id":25,"workflowId":"DJ5SeYDPfCrRBVZB","versionId":"952c480e-5bc9-4358-9087-fa93edbd742b","event":"activated","userId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}]}}