n8n-workflows/buddy-news.json
{"updatedAt":"2026-03-15T15:19:07.652Z","createdAt":"2026-03-15T15:19:07.652Z","id":"urVlCyhW4OLw4j1n","name":"Buddy — Nachrichten","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"name":"Stündlich","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300],"id":"feb9009c-ffb0-41d7-9a49-995f7a2ff370"},{"parameters":{"url":"https://www.srf.ch/news/bnf/rss/1646","options":{}},"name":"SRF News RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[460,200],"id":"54477bca-7e3d-448f-bed7-77404ff32357"},{"parameters":{"url":"https://www.tagesanzeiger.ch/rss.html","options":{}},"name":"Tagesanzeiger RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[460,380],"id":"00dad7f7-e7e9-417c-980a-d154de0c7356"},{"parameters":{"jsCode":"const items = [];\nconst cutoff = Date.now() - 2 * 60 * 60 * 1000; // Letzte 2 Stunden\n\nfor (const item of $input.all()) {\n  const article = item.json;\n  const pubDate = article.pubDate || article.isoDate;\n  if (!pubDate) continue;\n\n  const pubMs = new Date(pubDate).getTime();\n  if (pubMs < cutoff) continue; // Zu alt\n\n  const url = article.link || article.guid || '';\n  const title = article.title || '(kein Titel)';\n  const source = article.feed?.title || 'Nachrichten';\n\n  items.push({\n    json: {\n      source: 'news',\n      source_id: url || `news-${pubMs}`,\n      summary: `${source}: ${title}`,\n      priority: 'low',\n      customer_id: $env.CUSTOMER_ID || null,\n      buddy_id: $env.BUDDY_ID || null,\n      timestamp: pubDate,\n      details: {\n        headline: title,\n        url: url,\n        source_name: source,\n        published_at: pubDate,\n        categories: article.categories || []\n      }\n    }\n  });\n}\n\n// Max 5 Artikel pro Durchlauf\nreturn items.slice(0, 5);"},"name":"Artikel aufbereiten","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,300],"id":"abb96548-28f1-4af7-a5b7-47db7be36110"},{"parameters":{"method":"POST","url":"http://backend:8000/v1/agent/event","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-Secret","value":"={{ $env.BACKEND_WEBHOOK_SECRET }}"}]},"sendBody":true,"contentType":"json","body":"={{ JSON.stringify($json) }}"},"name":"An Backend senden","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[920,300],"id":"63b20859-5e90-4e67-8987-7bbe0305135b"}],"connections":{"Stündlich":{"main":[[{"node":"SRF News RSS","type":"main","index":0},{"node":"Tagesanzeiger RSS","type":"main","index":0}]]},"SRF News RSS":{"main":[[{"node":"Artikel aufbereiten","type":"main","index":0}]]},"Tagesanzeiger RSS":{"main":[[{"node":"Artikel aufbereiten","type":"main","index":0}]]},"Artikel aufbereiten":{"main":[[{"node":"An Backend senden","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Stündlich":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"04d55d05-a836-4144-9add-e210742c55df","activeVersionId":"04d55d05-a836-4144-9add-e210742c55df","versionCounter":52,"triggerCount":1,"shared":[{"updatedAt":"2026-03-15T15:19:07.654Z","createdAt":"2026-03-15T15:19:07.654Z","role":"workflow:owner","workflowId":"urVlCyhW4OLw4j1n","projectId":"oAVRaXmRj7K7UnvJ","project":{"updatedAt":"2026-03-14T11:18:25.350Z","createdAt":"2026-03-14T11:17:49.818Z","id":"oAVRaXmRj7K7UnvJ","name":"Christoph Guntlin <chguntlin@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T15:19:07.660Z","createdAt":"2026-03-15T15:19:07.660Z","versionId":"04d55d05-a836-4144-9add-e210742c55df","workflowId":"urVlCyhW4OLw4j1n","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"name":"Stündlich","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300],"id":"feb9009c-ffb0-41d7-9a49-995f7a2ff370"},{"parameters":{"url":"https://www.srf.ch/news/bnf/rss/1646","options":{}},"name":"SRF News RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[460,200],"id":"54477bca-7e3d-448f-bed7-77404ff32357"},{"parameters":{"url":"https://www.tagesanzeiger.ch/rss.html","options":{}},"name":"Tagesanzeiger RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[460,380],"id":"00dad7f7-e7e9-417c-980a-d154de0c7356"},{"parameters":{"jsCode":"const items = [];\nconst cutoff = Date.now() - 2 * 60 * 60 * 1000; // Letzte 2 Stunden\n\nfor (const item of $input.all()) {\n  const article = item.json;\n  const pubDate = article.pubDate || article.isoDate;\n  if (!pubDate) continue;\n\n  const pubMs = new Date(pubDate).getTime();\n  if (pubMs < cutoff) continue; // Zu alt\n\n  const url = article.link || article.guid || '';\n  const title = article.title || '(kein Titel)';\n  const source = article.feed?.title || 'Nachrichten';\n\n  items.push({\n    json: {\n      source: 'news',\n      source_id: url || `news-${pubMs}`,\n      summary: `${source}: ${title}`,\n      priority: 'low',\n      customer_id: $env.CUSTOMER_ID || null,\n      buddy_id: $env.BUDDY_ID || null,\n      timestamp: pubDate,\n      details: {\n        headline: title,\n        url: url,\n        source_name: source,\n        published_at: pubDate,\n        categories: article.categories || []\n      }\n    }\n  });\n}\n\n// Max 5 Artikel pro Durchlauf\nreturn items.slice(0, 5);"},"name":"Artikel aufbereiten","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,300],"id":"abb96548-28f1-4af7-a5b7-47db7be36110"},{"parameters":{"method":"POST","url":"http://backend:8000/v1/agent/event","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-Secret","value":"={{ $env.BACKEND_WEBHOOK_SECRET }}"}]},"sendBody":true,"contentType":"json","body":"={{ JSON.stringify($json) }}"},"name":"An Backend senden","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[920,300],"id":"63b20859-5e90-4e67-8987-7bbe0305135b"}],"connections":{"Stündlich":{"main":[[{"node":"SRF News RSS","type":"main","index":0},{"node":"Tagesanzeiger RSS","type":"main","index":0}]]},"SRF News RSS":{"main":[[{"node":"Artikel aufbereiten","type":"main","index":0}]]},"Tagesanzeiger RSS":{"main":[[{"node":"Artikel aufbereiten","type":"main","index":0}]]},"Artikel aufbereiten":{"main":[[{"node":"An Backend senden","type":"main","index":0}]]}},"authors":"Christoph Guntlin","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-15T15:26:08.431Z","id":18,"workflowId":"urVlCyhW4OLw4j1n","versionId":"04d55d05-a836-4144-9add-e210742c55df","event":"activated","userId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}]}}