n8n-workflows/buddy-email.json
{"updatedAt":"2026-03-15T15:19:07.328Z","createdAt":"2026-03-15T15:19:07.328Z","id":"4LYEjuSVZr4T22m0","name":"Buddy — Email Überwachung","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"mailbox":"INBOX","options":{}},"name":"Email Eingang","type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[240,300],"credentials":{"imap":{"name":"IMAP Konto"}},"id":"7eada843-9a6c-478f-8e9b-d750d310f5fe"},{"parameters":{"jsCode":"const items = [];\nfor (const item of $input.all()) {\n  const email = item.json;\n  const from = email.from?.text || email.from?.value?.[0]?.address || 'Unbekannt';\n  const subject = email.subject || '(kein Betreff)';\n  const snippet = (email.text || email.html || '').replace(/<[^>]+>/g, '').substring(0, 300);\n  const messageId = email.messageId || `email-${Date.now()}`;\n\n  items.push({\n    json: {\n      source: 'email',\n      source_id: messageId,\n      summary: `E-Mail von ${from}: ${subject}`,\n      priority: subject.toLowerCase().includes('dringend') || subject.toLowerCase().includes('urgent') ? 'high' : 'medium',\n      customer_id: $env.CUSTOMER_ID || null,\n      buddy_id: $env.BUDDY_ID || null,\n      timestamp: email.date || new Date().toISOString(),\n      details: {\n        from: from,\n        subject: subject,\n        snippet: snippet,\n        has_attachment: (email.attachments || []).length > 0\n      }\n    }\n  });\n}\nreturn items;"},"name":"Email aufbereiten","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"id":"fba8558c-a4e8-4edf-aea1-b4a384fc301c"},{"parameters":{"method":"POST","url":"http://backend:8000/v1/agent/event","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-Secret","value":"={{ $env.BACKEND_WEBHOOK_SECRET }}"}]},"sendBody":true,"contentType":"json","body":"={{ JSON.stringify($json) }}"},"name":"An Backend senden","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[680,300],"id":"889a6d12-2925-4dd9-802c-bd4317f75405"}],"connections":{"Email Eingang":{"main":[[{"node":"Email aufbereiten","type":"main","index":0}]]},"Email aufbereiten":{"main":[[{"node":"An Backend senden","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"09620c32-6535-4a07-9a46-f1ee63269456","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-15T15:19:07.332Z","createdAt":"2026-03-15T15:19:07.332Z","role":"workflow:owner","workflowId":"4LYEjuSVZr4T22m0","projectId":"oAVRaXmRj7K7UnvJ","project":{"updatedAt":"2026-03-14T11:18:25.350Z","createdAt":"2026-03-14T11:17:49.818Z","id":"oAVRaXmRj7K7UnvJ","name":"Christoph Guntlin <chguntlin@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}}],"tags":[],"activeVersion":null}