n8n-workflows/buddy-calendar.json
{"updatedAt":"2026-03-15T15:19:07.135Z","createdAt":"2026-03-15T15:19:07.135Z","id":"XZn5twEhcUVYExpQ","name":"Buddy — Kalender Erinnerungen","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"name":"Alle 30 Min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300],"id":"987ed507-620e-431f-8069-436ad4da8c5e"},{"parameters":{"authentication":"oAuth2","resource":"event","operation":"getAll","calendar":{"__rl":true,"value":"primary","mode":"list"},"timeMin":"={{ new Date().toISOString() }}","timeMax":"={{ new Date(Date.now() + 48 * 60 * 60 * 1000).toISOString() }}","options":{"singleEvents":true,"orderBy":"startTime"}},"name":"Google Kalender","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[460,300],"credentials":{"googleCalendarOAuth2Api":{"name":"Google Calendar Konto"}},"id":"5b37f8ea-9a7a-45e0-9925-1e65e625d9dd"},{"parameters":{"jsCode":"const items = [];\nconst now = Date.now();\n\nfor (const item of $input.all()) {\n  const event = item.json;\n  const startTime = event.start?.dateTime || event.start?.date;\n  if (!startTime) continue;\n\n  const startMs = new Date(startTime).getTime();\n  const minutesUntil = Math.round((startMs - now) / 60000);\n\n  // Nur Events innerhalb 24h melden\n  if (minutesUntil < 0 || minutesUntil > 1440) continue;\n\n  let priority = 'low';\n  if (minutesUntil <= 30) priority = 'urgent';\n  else if (minutesUntil <= 120) priority = 'high';\n  else if (minutesUntil <= 480) priority = 'medium';\n\n  const sourceId = `cal-${event.id}-${startTime}`;\n\n  items.push({\n    json: {\n      source: 'calendar',\n      source_id: sourceId,\n      summary: `Termin in ${minutesUntil} Min: ${event.summary || 'Unbenannter Termin'}`,\n      priority: priority,\n      customer_id: $env.CUSTOMER_ID || null,\n      buddy_id: $env.BUDDY_ID || null,\n      timestamp: startTime,\n      details: {\n        event_title: event.summary || 'Unbenannter Termin',\n        start_time: startTime,\n        end_time: event.end?.dateTime || event.end?.date,\n        location: event.location || null,\n        minutes_until: minutesUntil,\n        calendar_name: event.organizer?.displayName || 'Kalender'\n      }\n    }\n  });\n}\nreturn items;"},"name":"Events filtern & aufbereiten","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"id":"6bedd613-3584-4f2f-9a84-d5ffe9073c69"},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.details.minutes_until }}","operation":"largerEqual","value2":0}]}},"name":"Nur relevante?","type":"n8n-nodes-base.if","typeVersion":1,"position":[900,300],"id":"683582b5-b76d-4917-bbca-eb04e309d987"},{"parameters":{"method":"POST","url":"http://backend:8000/v1/agent/event","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-Secret","value":"={{ $env.BACKEND_WEBHOOK_SECRET }}"}]},"sendBody":true,"contentType":"json","body":"={{ JSON.stringify($json) }}"},"name":"An Backend senden","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1120,240],"id":"4cc5cc63-947f-48e2-9fbc-d5d52088484b"}],"connections":{"Alle 30 Min":{"main":[[{"node":"Google Kalender","type":"main","index":0}]]},"Google Kalender":{"main":[[{"node":"Events filtern & aufbereiten","type":"main","index":0}]]},"Events filtern & aufbereiten":{"main":[[{"node":"Nur relevante?","type":"main","index":0}]]},"Nur relevante?":{"main":[[{"node":"An Backend senden","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"73d40021-ea44-4a1a-b335-4ffcd51ce5d1","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-15T15:19:07.139Z","createdAt":"2026-03-15T15:19:07.139Z","role":"workflow:owner","workflowId":"XZn5twEhcUVYExpQ","projectId":"oAVRaXmRj7K7UnvJ","project":{"updatedAt":"2026-03-14T11:18:25.350Z","createdAt":"2026-03-14T11:17:49.818Z","id":"oAVRaXmRj7K7UnvJ","name":"Christoph Guntlin <chguntlin@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}}],"tags":[],"activeVersion":null}