n8n-workflows/buddy-government.json
{"updatedAt":"2026-03-15T15:19:07.553Z","createdAt":"2026-03-15T15:19:07.553Z","id":"LYVkzIzVgv5ODlSs","name":"Buddy — Behördenmitteilungen","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"name":"Alle 4 Stunden","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300],"id":"9219466f-f86a-42ef-9a5d-11f04fc96030"},{"parameters":{"url":"https://www.admin.ch/gov/de/start/dokumentation/medienmitteilungen.rss.html","options":{}},"name":"Bundesrat RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[460,200],"id":"503d7f97-1b48-4037-a7fe-d60a95b6f7e6"},{"parameters":{"url":"https://www.fedlex.admin.ch/api/feed/de.rss","options":{}},"name":"Fedlex (Gesetze) RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[460,380],"id":"4e212b34-c980-4931-88b2-f03d7c27639b"},{"parameters":{"jsCode":"const items = [];\nconst cutoff = Date.now() - 8 * 60 * 60 * 1000; // Letzte 8h\n\nfor (const item of $input.all()) {\n  const entry = item.json;\n  const pubDate = entry.pubDate || entry.isoDate;\n  if (!pubDate) continue;\n\n  const pubMs = new Date(pubDate).getTime();\n  if (pubMs < cutoff) continue;\n\n  const url = entry.link || entry.guid || '';\n  const title = entry.title || '(kein Titel)';\n  const feedSource = entry.feed?.title || 'Behörde';\n\n  // Dringlichkeit erkennen\n  const titleLower = title.toLowerCase();\n  let priority = 'medium';\n  let alertType = 'announcement';\n\n  if (titleLower.includes('warnung') || titleLower.includes('alarm') || titleLower.includes('notfall')) {\n    priority = 'urgent';\n    alertType = 'warning';\n  } else if (titleLower.includes('massnahme') || titleLower.includes('verordnung') || titleLower.includes('gesetz')) {\n    priority = 'high';\n    alertType = 'regulation';\n  }\n\n  items.push({\n    json: {\n      source: 'government',\n      source_id: url || `gov-${pubMs}`,\n      summary: `[${feedSource}] ${title}`,\n      priority: priority,\n      customer_id: $env.CUSTOMER_ID || null,\n      buddy_id: $env.BUDDY_ID || null,\n      timestamp: pubDate,\n      details: {\n        agency: feedSource,\n        alert_type: alertType,\n        title: title,\n        official_url: url,\n        published_at: pubDate,\n        region: $env.CUSTOMER_REGION || 'Schweiz'\n      }\n    }\n  });\n}\n\nreturn items.slice(0, 10);"},"name":"Meldungen aufbereiten","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,300],"id":"837c05c1-dd35-406f-9c58-6307a596c45e"},{"parameters":{"method":"POST","url":"http://backend:8000/v1/agent/event","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-Secret","value":"={{ $env.BACKEND_WEBHOOK_SECRET }}"}]},"sendBody":true,"contentType":"json","body":"={{ JSON.stringify($json) }}"},"name":"An Backend senden","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[920,300],"id":"a07c9ca2-6291-4638-aa27-95ecca860087"}],"connections":{"Alle 4 Stunden":{"main":[[{"node":"Bundesrat RSS","type":"main","index":0},{"node":"Fedlex (Gesetze) RSS","type":"main","index":0}]]},"Bundesrat RSS":{"main":[[{"node":"Meldungen aufbereiten","type":"main","index":0}]]},"Fedlex (Gesetze) RSS":{"main":[[{"node":"Meldungen aufbereiten","type":"main","index":0}]]},"Meldungen aufbereiten":{"main":[[{"node":"An Backend senden","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Alle 4 Stunden":{"recurrenceRules":[16]}},"meta":null,"pinData":null,"versionId":"99839570-a74d-4d86-ba51-b44ea245c7c9","activeVersionId":"99839570-a74d-4d86-ba51-b44ea245c7c9","versionCounter":53,"triggerCount":1,"shared":[{"updatedAt":"2026-03-15T15:19:07.556Z","createdAt":"2026-03-15T15:19:07.556Z","role":"workflow:owner","workflowId":"LYVkzIzVgv5ODlSs","projectId":"oAVRaXmRj7K7UnvJ","project":{"updatedAt":"2026-03-14T11:18:25.350Z","createdAt":"2026-03-14T11:17:49.818Z","id":"oAVRaXmRj7K7UnvJ","name":"Christoph Guntlin <chguntlin@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T15:19:07.561Z","createdAt":"2026-03-15T15:19:07.561Z","versionId":"99839570-a74d-4d86-ba51-b44ea245c7c9","workflowId":"LYVkzIzVgv5ODlSs","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"name":"Alle 4 Stunden","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300],"id":"9219466f-f86a-42ef-9a5d-11f04fc96030"},{"parameters":{"url":"https://www.admin.ch/gov/de/start/dokumentation/medienmitteilungen.rss.html","options":{}},"name":"Bundesrat RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[460,200],"id":"503d7f97-1b48-4037-a7fe-d60a95b6f7e6"},{"parameters":{"url":"https://www.fedlex.admin.ch/api/feed/de.rss","options":{}},"name":"Fedlex (Gesetze) RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[460,380],"id":"4e212b34-c980-4931-88b2-f03d7c27639b"},{"parameters":{"jsCode":"const items = [];\nconst cutoff = Date.now() - 8 * 60 * 60 * 1000; // Letzte 8h\n\nfor (const item of $input.all()) {\n  const entry = item.json;\n  const pubDate = entry.pubDate || entry.isoDate;\n  if (!pubDate) continue;\n\n  const pubMs = new Date(pubDate).getTime();\n  if (pubMs < cutoff) continue;\n\n  const url = entry.link || entry.guid || '';\n  const title = entry.title || '(kein Titel)';\n  const feedSource = entry.feed?.title || 'Behörde';\n\n  // Dringlichkeit erkennen\n  const titleLower = title.toLowerCase();\n  let priority = 'medium';\n  let alertType = 'announcement';\n\n  if (titleLower.includes('warnung') || titleLower.includes('alarm') || titleLower.includes('notfall')) {\n    priority = 'urgent';\n    alertType = 'warning';\n  } else if (titleLower.includes('massnahme') || titleLower.includes('verordnung') || titleLower.includes('gesetz')) {\n    priority = 'high';\n    alertType = 'regulation';\n  }\n\n  items.push({\n    json: {\n      source: 'government',\n      source_id: url || `gov-${pubMs}`,\n      summary: `[${feedSource}] ${title}`,\n      priority: priority,\n      customer_id: $env.CUSTOMER_ID || null,\n      buddy_id: $env.BUDDY_ID || null,\n      timestamp: pubDate,\n      details: {\n        agency: feedSource,\n        alert_type: alertType,\n        title: title,\n        official_url: url,\n        published_at: pubDate,\n        region: $env.CUSTOMER_REGION || 'Schweiz'\n      }\n    }\n  });\n}\n\nreturn items.slice(0, 10);"},"name":"Meldungen aufbereiten","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,300],"id":"837c05c1-dd35-406f-9c58-6307a596c45e"},{"parameters":{"method":"POST","url":"http://backend:8000/v1/agent/event","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-Secret","value":"={{ $env.BACKEND_WEBHOOK_SECRET }}"}]},"sendBody":true,"contentType":"json","body":"={{ JSON.stringify($json) }}"},"name":"An Backend senden","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[920,300],"id":"a07c9ca2-6291-4638-aa27-95ecca860087"}],"connections":{"Alle 4 Stunden":{"main":[[{"node":"Bundesrat RSS","type":"main","index":0},{"node":"Fedlex (Gesetze) RSS","type":"main","index":0}]]},"Bundesrat RSS":{"main":[[{"node":"Meldungen aufbereiten","type":"main","index":0}]]},"Fedlex (Gesetze) RSS":{"main":[[{"node":"Meldungen aufbereiten","type":"main","index":0}]]},"Meldungen aufbereiten":{"main":[[{"node":"An Backend senden","type":"main","index":0}]]}},"authors":"Christoph Guntlin","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-15T15:26:08.490Z","id":19,"workflowId":"LYVkzIzVgv5ODlSs","versionId":"99839570-a74d-4d86-ba51-b44ea245c7c9","event":"activated","userId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}]}}