n8n-workflows/service-notify-slack.json
{"updatedAt":"2026-03-15T12:04:09.282Z","createdAt":"2026-03-15T12:04:09.282Z","id":"W3Pes51f1S5CMXj8","name":"service-notify-slack","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wh-notify-slack","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,0],"parameters":{"httpMethod":"POST","path":"service-notify-slack","responseMode":"responseNode","options":{"allowedOrigins":"*"}}},{"id":"act-notify-slack","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"parameters":{"method":"POST","url":"={{ $vars.SLACK_WEBHOOK_URL }}","sendBody":true,"contentType":"json","body":"={\"text\":\"{{ $json.body.text }}\",\"channel\":\"{{ $json.body.channel ?? '#general' }}\"}","options":{}},"position":[-160,0]},{"id":"resp-notify-slack","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[80,0],"parameters":{"respondWith":"json","responseBody":"={\"status\":\"ok\",\"service\":\"notify-slack\"}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"8a1b3055-d946-4223-a20e-6ec626982b9c","activeVersionId":"8a1b3055-d946-4223-a20e-6ec626982b9c","versionCounter":54,"triggerCount":1,"shared":[{"updatedAt":"2026-03-15T12:04:09.285Z","createdAt":"2026-03-15T12:04:09.285Z","role":"workflow:owner","workflowId":"W3Pes51f1S5CMXj8","projectId":"oAVRaXmRj7K7UnvJ","project":{"updatedAt":"2026-03-14T11:18:25.350Z","createdAt":"2026-03-14T11:17:49.818Z","id":"oAVRaXmRj7K7UnvJ","name":"Christoph Guntlin <chguntlin@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T14:19:09.000Z","createdAt":"2026-03-15T12:04:09.290Z","versionId":"8a1b3055-d946-4223-a20e-6ec626982b9c","workflowId":"W3Pes51f1S5CMXj8","nodes":[{"id":"wh-notify-slack","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,0],"parameters":{"httpMethod":"POST","path":"service-notify-slack","responseMode":"responseNode","options":{"allowedOrigins":"*"}}},{"id":"act-notify-slack","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"parameters":{"method":"POST","url":"={{ $vars.SLACK_WEBHOOK_URL }}","sendBody":true,"contentType":"json","body":"={\"text\":\"{{ $json.body.text }}\",\"channel\":\"{{ $json.body.channel ?? '#general' }}\"}","options":{}},"position":[-160,0]},{"id":"resp-notify-slack","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[80,0],"parameters":{"respondWith":"json","responseBody":"={\"status\":\"ok\",\"service\":\"notify-slack\"}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Christoph Guntlin","name":"Version 8a1b3055","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-15T14:19:09.576Z","id":17,"workflowId":"W3Pes51f1S5CMXj8","versionId":"8a1b3055-d946-4223-a20e-6ec626982b9c","event":"activated","userId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}]}}