n8n-workflows/service-send-email.json
{"updatedAt":"2026-03-17T20:33:35.741Z","createdAt":"2026-03-15T12:04:09.044Z","id":"qCUJjiFCeNtfrige","name":"service-send-email","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"service-send-email","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"id":"wh-send-email","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,0],"webhookId":"0061f382-002f-47c1-851f-9aca6b6563bc"},{"parameters":{"fromEmail":"={{ $json.body.from ?? 'noreply@aibuddy.com' }}","toEmail":"={{ $json.body.to }}","subject":"={{ $json.body.subject }}","options":{}},"id":"act-send-email","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-160,0],"webhookId":"82282c8c-71e8-4c3b-87a2-b088cc0ad16e","credentials":{"smtp":{"id":"5nVuPzwZWo5mCg1x","name":"SMTP account"}}},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"ok\",\"service\":\"send-email\"}","options":{"responseCode":200}},"id":"resp-send-email","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[80,0]}],"connections":{"Webhook":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f90cbe5b-2e71-4294-9474-88a8f3e0bc8e","activeVersionId":"f90cbe5b-2e71-4294-9474-88a8f3e0bc8e","versionCounter":54,"triggerCount":1,"shared":[{"updatedAt":"2026-03-15T12:04:09.048Z","createdAt":"2026-03-15T12:04:09.048Z","role":"workflow:owner","workflowId":"qCUJjiFCeNtfrige","projectId":"oAVRaXmRj7K7UnvJ","project":{"updatedAt":"2026-03-14T11:18:25.350Z","createdAt":"2026-03-14T11:17:49.818Z","id":"oAVRaXmRj7K7UnvJ","name":"Christoph Guntlin <chguntlin@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-17T20:40:49.000Z","createdAt":"2026-03-17T20:33:35.742Z","versionId":"f90cbe5b-2e71-4294-9474-88a8f3e0bc8e","workflowId":"qCUJjiFCeNtfrige","nodes":[{"parameters":{"httpMethod":"POST","path":"service-send-email","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"id":"wh-send-email","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,0],"webhookId":"0061f382-002f-47c1-851f-9aca6b6563bc"},{"parameters":{"fromEmail":"={{ $json.body.from ?? 'noreply@aibuddy.com' }}","toEmail":"={{ $json.body.to }}","subject":"={{ $json.body.subject }}","options":{}},"id":"act-send-email","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-160,0],"webhookId":"82282c8c-71e8-4c3b-87a2-b088cc0ad16e","credentials":{"smtp":{"id":"5nVuPzwZWo5mCg1x","name":"SMTP account"}}},{"parameters":{"respondWith":"json","responseBody":"={\"status\":\"ok\",\"service\":\"send-email\"}","options":{"responseCode":200}},"id":"resp-send-email","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[80,0]}],"connections":{"Webhook":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Christoph Guntlin","name":"Version f90cbe5b","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-17T20:40:49.296Z","id":20,"workflowId":"qCUJjiFCeNtfrige","versionId":"f90cbe5b-2e71-4294-9474-88a8f3e0bc8e","event":"activated","userId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"},{"createdAt":"2026-03-17T20:40:51.284Z","id":22,"workflowId":"qCUJjiFCeNtfrige","versionId":"f90cbe5b-2e71-4294-9474-88a8f3e0bc8e","event":"activated","userId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"},{"createdAt":"2026-03-17T21:11:43.998Z","id":24,"workflowId":"qCUJjiFCeNtfrige","versionId":"f90cbe5b-2e71-4294-9474-88a8f3e0bc8e","event":"activated","userId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"},{"createdAt":"2026-03-17T20:40:51.262Z","id":21,"workflowId":"qCUJjiFCeNtfrige","versionId":"f90cbe5b-2e71-4294-9474-88a8f3e0bc8e","event":"deactivated","userId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"},{"createdAt":"2026-03-17T20:57:19.738Z","id":23,"workflowId":"qCUJjiFCeNtfrige","versionId":"f90cbe5b-2e71-4294-9474-88a8f3e0bc8e","event":"deactivated","userId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}]}}