n8n-workflows/service-export-pdf.json
{"updatedAt":"2026-03-15T12:04:09.372Z","createdAt":"2026-03-15T12:04:09.372Z","id":"4DjNIxL8RC7A905r","name":"service-export-pdf","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wh-export-pdf","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,0],"parameters":{"httpMethod":"POST","path":"service-export-pdf","responseMode":"responseNode","options":{"allowedOrigins":"*"}}},{"id":"act-export-pdf","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"parameters":{"method":"POST","url":"={{ $vars.PDF_SERVICE_URL ?? 'http://backend:8000/pdf/generate' }}","sendBody":true,"contentType":"json","body":"={{ JSON.stringify($json.body) }}","options":{}},"position":[-160,0]},{"id":"resp-export-pdf","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[80,0],"parameters":{"respondWith":"json","responseBody":"={\"status\":\"ok\",\"service\":\"export-pdf\"}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"fa553ad9-4442-4a60-8a95-57593735da55","activeVersionId":"fa553ad9-4442-4a60-8a95-57593735da55","versionCounter":54,"triggerCount":1,"shared":[{"updatedAt":"2026-03-15T12:04:09.373Z","createdAt":"2026-03-15T12:04:09.373Z","role":"workflow:owner","workflowId":"4DjNIxL8RC7A905r","projectId":"oAVRaXmRj7K7UnvJ","project":{"updatedAt":"2026-03-14T11:18:25.350Z","createdAt":"2026-03-14T11:17:49.818Z","id":"oAVRaXmRj7K7UnvJ","name":"Christoph Guntlin <chguntlin@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T14:18:45.000Z","createdAt":"2026-03-15T12:04:09.378Z","versionId":"fa553ad9-4442-4a60-8a95-57593735da55","workflowId":"4DjNIxL8RC7A905r","nodes":[{"id":"wh-export-pdf","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,0],"parameters":{"httpMethod":"POST","path":"service-export-pdf","responseMode":"responseNode","options":{"allowedOrigins":"*"}}},{"id":"act-export-pdf","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"parameters":{"method":"POST","url":"={{ $vars.PDF_SERVICE_URL ?? 'http://backend:8000/pdf/generate' }}","sendBody":true,"contentType":"json","body":"={{ JSON.stringify($json.body) }}","options":{}},"position":[-160,0]},{"id":"resp-export-pdf","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[80,0],"parameters":{"respondWith":"json","responseBody":"={\"status\":\"ok\",\"service\":\"export-pdf\"}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Christoph Guntlin","name":"Version fa553ad9","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-15T14:18:45.901Z","id":16,"workflowId":"4DjNIxL8RC7A905r","versionId":"fa553ad9-4442-4a60-8a95-57593735da55","event":"activated","userId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}]}}