n8n-workflows/service-send-sms.json
{"updatedAt":"2026-03-15T12:04:09.341Z","createdAt":"2026-03-15T12:04:09.341Z","id":"cNf1O7bkj6qhyQGx","name":"service-send-sms","description":null,"active":false,"isArchived":false,"nodes":[{"id":"wh-send-sms","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,0],"parameters":{"httpMethod":"POST","path":"service-send-sms","responseMode":"responseNode","options":{"allowedOrigins":"*"}}},{"id":"act-send-sms","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"parameters":{"method":"POST","url":"https://api.twilio.com/2010-04-01/Accounts/={{ $vars.TWILIO_ACCOUNT_SID }}/Messages.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"To","value":"={{ $json.body.to }}"},{"name":"From","value":"={{ $vars.TWILIO_FROM_NUMBER }}"},{"name":"Body","value":"={{ $json.body.message }}"}]},"options":{}},"position":[-160,0]},{"id":"resp-send-sms","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[80,0],"parameters":{"respondWith":"json","responseBody":"={\"status\":\"ok\",\"service\":\"send-sms\"}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"b74d33f1-e501-4cf6-9ae1-12aaaf8454c7","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-15T12:04:09.343Z","createdAt":"2026-03-15T12:04:09.343Z","role":"workflow:owner","workflowId":"cNf1O7bkj6qhyQGx","projectId":"oAVRaXmRj7K7UnvJ","project":{"updatedAt":"2026-03-14T11:18:25.350Z","createdAt":"2026-03-14T11:17:49.818Z","id":"oAVRaXmRj7K7UnvJ","name":"Christoph Guntlin <chguntlin@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f5fb835a-58fe-4842-881d-e12cf6beaa85"}}],"tags":[],"activeVersion":null}